.change_password_body{
    background-color: #B8D9A0 !important;
    border-radius: 3px !important;
    padding-top: 25px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    min-height: 500px;
}

.title{
    font-family: "nunito_sansextrabold";
    color: #2A2E2E;
    font-size: auto !important;
    font-size: max(32px) !important;
    margin-bottom: 15px !important;
}

.form_change_password{
    padding-left: 25px;
    margin: 0px 200px;
}

.label_form{
    font-family: "nunito_sansextrabold";
    color: #2A2E2E !important;
    font-size: 20px !important;
}

.btn_group {
    margin-left: 400px !important;
    margin-top: 20px !important;
}

.btn_change{
    float: right !important;
    background-color: #D3455B !important;
}
.btn_change:hover{
    background-color: #B8D9A0 !important;
    color: #2A2E2E !important;
}

.btn_back{
    float: right !important;
    background-color: #2A2E2E !important;
    margin-left: 10px !important;
}
.btn_back:hover{
    background-color: #B8D9A0 !important;
    color: #2A2E2E !important;
}

.form-control:focus {
    border-color: #B8D9A0 !important;
    box-shadow: inset 0px 0px 0px 1px #B8D9A0 !important;
}

.btn_to_right{
    text-align: right;
    display: flexbox;
    float:right !important;
    justify-content: flex-end;
}