.downloadSection {
    /* margin-right: 50px !important;
    margin-top: 5%; */
    color: #FFFFFF !important;
    background-color: #2A2E2E !important;
    float: right !important;
    vertical-align: middle;
    margin-left: 15px;
}

.btn_save_chapter{
    float: right !important;
    vertical-align: middle;
    margin-left: 15px;
    background-color: #B8D9A0 !important;
}
.btn_save_chapter:hover{
    background-color: #2A2E2E !important;
}

.btn_delete_chapter{
    float: right !important;
    vertical-align: middle;
    margin-left: 15px;
    background-color: #D3455B !important;
}
.btn_delete_chapter:hover{
    background-color: #2A2E2E !important;
}

.btn_back_chapter{
    float: right !important;
    vertical-align: middle;
    margin-left: 15px;
    background-color: #2A2E2E !important;
}
.btn_back_chapter:hover{
    background-color: #B8D9A0 !important;
}


.downloadSection:hover{
    background-color: #B8D9A0 !important;
}


.title_row{
    margin-top: 30px !important;
}

.titleSection {
    /* margin-left: 1em; */
    font-size: 36px !important;
    font-family: "nunito_sansblack";
    color: #B8D9A0;
}
.titleSection:hover{
    color: #2A2E2E;
    cursor: pointer;
}

/* .content {
    resize: none !important;
    background-color: #FFFFFF;
    min-height: min-content !important;
    max-height: max-content !important;
    margin-left: 0px !important;
    margin-top: 25px !important;

    width: 100%;
    height: max-content !important;
    margin-left: 10px;
    padding: 1.5em;
    text-align: justify;
} */

.content_field{
    margin-top: 40px;
    border : 1px solid rgba(42, 46, 46, 0.5);
    padding: 25px;
    margin-bottom: 20px;
    white-space: pre-line;
    font-size: auto;
    min-height: 400px !important;
}

.content_editor_field{
    margin-top: 20px;
    margin-bottom: 20px;
}

.ck-editor__editable_inline {
    min-height: 500px;
  }

.editor{
    min-height: 500px !important;
    height: 500px !important;
}

.editor_field{
    margin-top: 30px;
}

.chapterSection {
    font-family: "nunito_sansbold";
    color: #2A2E2E;
    font-size: max(24px) !important;  
}

.title_chapter_box{
    border-bottom: 2px solid rgba(42, 46, 46, 0.75);
}

.buttonSection {
    text-align: center;
}

.btn_chapter{
    background-color: #2A2E2E !important;
    height: 50px !important;
    padding: 10px 12px 10px 12px !important;
    font-size: 16px !important;
    text-transform: none !important;
    vertical-align: middle !important;
    margin: 10px;
    color: #FFFFFF !important;
}

.btn_chapter:hover{
    background-color: #B8D9A0 !important;
}
.btn_chapter:disabled{
    opacity: 0.3 !important;
}

.img_btn_prev_chapter{
    margin-right: 10px !important;
}

.img_btn_next_chapter{
    margin-left: 10px !important;
}

.buttonSection2 {
    text-align: right;
    /* margin-top: 10px !important; */
    
}

.btn_chapter2{
    background-color: #2A2E2E !important;
    width: 75px !important;
    height: 40px !important;
    padding: 10px 12px 10px 12px !important;
    font-size: 16px !important;
    text-transform: none !important;
    vertical-align: middle !important;
    margin: 10px 0px 10px 10px;
    color: #FFFFFF !important;
}

.btn_chapter2:hover{
    background-color: #B8D9A0 !important;
}
.btn_chapter2:disabled{
    opacity: 0.3 !important;
}

.img_btn_prev_chapter2{
    width: 15px;
    height: 15px;
    vertical-align: middle !important;
    margin-top: -7px !important;
}

.img_btn_next_chapter2{
    width: 15px;
    height: 15px;
    vertical-align: middle !important;
    margin-top: -7px !important;
}

.link_to{
    color: #FFFFFF !important;
}

.upSection{
    margin-top: 10px !important;
    margin-bottom: -20px !important;
}

.chapterDropdown{
    /* height: 45px !important; */
    justify-content: center;
    vertical-align: middle !important;
    margin: 10px 10px 10px 0px;
    /* text-transform: none !important; */
    text-transform: capitalize !important;
    width: 250px !important;
}


.ck.ck-editor__editable_inline {
    padding-right: 25px !important;
    padding-left: 25px !important;
}

body::-webkit-scrollbar {
width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: #B8D9A0;
}

body::-webkit-scrollbar-thumb {
    background: #2A2E2E;
    length: 1.5rem;
    width: 1rem;
}