/* .edit_detail{
    background-color: #B8D9A0 !important;
    border-radius: 5px !important;
} */

.edit_detail_body{
    background-color: #B8D9A0 !important;
    border-radius: 3px !important;
    padding-top: 25px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.edit_detail_title{
    font-family: "nunito_sansextrabold";
    color: #2A2E2E;
    font-size: auto !important;
    font-size: max(32px) !important;
    margin-bottom: 15px !important;
}

.upload_col {
    padding-right: 0px!important
}

.upload_form{
    margin-top: 15px;
    width: 250px !important;
}

.icon_upload{
    background-color: #fff !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.form_detail{
    padding-left: 25px;
}

.label_form{
    font-family: "nunito_sansextrabold";
    color: #2A2E2E !important;
    font-size: 20px !important;
}

.btn_save{
    float: right !important;
    background-color: #2A2E2E !important;
}
.btn_save:hover{
    background-color: #B8D9A0 !important;
    color: #2A2E2E !important;
}

.btn_back{
    float: right !important;
    background-color: #2A2E2E !important;
    margin-left: 10px !important;
}
.btn_back:hover{
    background-color: #B8D9A0 !important;
    color: #2A2E2E !important;
}

.form-control:focus {
    border-color: #B8D9A0 !important;
    box-shadow: inset 0px 0px 0px 1px #B8D9A0 !important;
}