input {
    border-color: #B8D9A0 !important;
    font-family: nunito_sansblack;
    height: 50px;
}

button {
    width: 100% !important;
    background-color: #B8D9A0 !important;
}

h1 {
    font-size: 65px !important;
    text-align: left;
    font-family: nunito_sansblack;
    /* padding-top: 35px; */
    padding-left: 35px;
}

p.login {
    font-family: nunito_sansblack;
    text-align: center;
    padding-top: 15px;
}

a {
    font-family: nunito_sansblack;
    color: #B8D9A0 !important;
}

.forms {
    margin-bottom: 150px !important;
}

span {
    font-size: 20px;
}