/* Logo */
.navbar_brand {
    display: flex;
    align-items: center;
    padding-right: 30px;
  }
  /* .navbar-brand>img {
    padding: 7px 14px;
  } */

/* Browse and Updates */
.nav_icon_field {
  vertical-align: middle !important;
}

/* .navbar_browse {
    vertical-align: middle !important;
    background:url('../resources/navbar_browse.svg') no-repeat 0 0;
    background-color: #D3455B solid;
    margin: 10px;
    width: 193px !important;
    height: 25px;
    align-items: center;
} */

/* .nav_icon_field2 {
  vertical-align: middle;
  background:url('../resources/navbar_updates.svg') no-repeat 0 0;
  background-repeat: none !important;
  margin: 10px;
  width: 150px;
  height: 50px;
  width: 50%;
  margin: 0 auto;
} */


/* .nav_icon_img:hover{
    background-color: #B8D9A0;
} */

.nav_icon_text {
    margin-left: 8px;
    color: #2A2E2E;
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
    font-family: "nunito_sanssemibold";
    /* font-family: Nunito Verdana, Geneva, Tahoma, sans-serif; */
    /* display: flex;
    align-items: center; */
}
.nav_icon_text:hover{
    color: #B8D9A0;
}

.navbar-light .navbar-toggler-icon {
  background-image: fixed !important;
}

/* Avatar User */
.dropdown-toggle::after {
    display: none !important; 
  }

/* Login & Register Button */
.Btn_Login {
  border-color: #B8D9A0 !important;
  color: #B8D9A0 !important;
  box-shadow: none !important;
  text-transform: none !important;
  width: 90px !important;

}.Btn_Login:hover {
  background-color: #B8D9A0 !important;
  color: #fff !important;
}

.Btn_Register {
  background-color: #B8D9A0 !important;
  color: #fff !important;
  box-shadow: none !important;
  text-transform: none !important;
  width: 90px !important;
}.Btn_Register:hover{
  background-color: #fff !important;
  /* border-width: 0.1px; */
  border-style: solid !important;
  border-color: #B8D9A0 !important;
  color: #B8D9A0 !important;
}

.logout_nav{
  /* background-color: rgba(211, 69, 91, 0.8) !important; */
  color: #D3455B !important; 
}

.username_nav{
  color: #B8D9A0 !important;
}