.ranking_title{
    color: #2A2E2E;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    
}

.story_link{
    margin-bottom: 10px !important;
}

.story_link:hover{
  background-color: #f5f5f5;
}

.story_field{
    /* margin-left: 10px; */
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding-right: 0px !important;
}

.stort_title{
    color: #2A2E2E !important;
}

.detail_list2{
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    font-size: auto ;
    font-size: max(12px)!important;
    font-weight: 500;
    color: rgba(42, 46, 46, 0.8);
    overflow-x:hidden;
    white-space: nowrap;
  }
  .detail_list_icon{
    margin-right: 10px;
  }
  .icon_text{
    vertical-align: bottom;
  }

.tabs_title{
  color: #2A2E2E !important;
  text-transform: none !important;
  text-align: center !important;
  font-style: italic;
  font-size: 22px !important;
  /* padding-left: 0px !important; */
}  

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-bottom: 3px solid #B8D9A0 !important;
}
