.bodyRegister{
    margin-top: -70px !important;
}

.inputForm {
    border-color: #B8D9A0 !important;
    font-family: nunito_sanssemibold;
    height: 50px;
    font-size: 15px !important;
}

.btn_login {
    width: 100% !important;
    background-color: #B8D9A0 !important;
}
.btn_login:hover{
    background-color: #2A2E2E !important;
}


/* h1 {
    font-size: 65px !important;
    text-align: left;
    font-family: nunito_sansblack;
    padding-left: 35px;
} */

.titleAuth{
    font-size: 65px !important;
    text-align: left;
    font-family: nunito_sansblack;
    color: #2A2E2E !important;
    /* padding-top: 35px; */
    /* padding-left: 35px; */
}

.login {
    font-family: nunito_sansbold;
    text-align: center;
    padding-top: 15px;
}

.linkpage {
    font-family: nunito_sansbold;
    color: #B8D9A0 !important;
    text-decoration: underline !important;
}
.linkpage:hover{
    color: #2A2E2E !important;
}

.formss {
    margin-bottom: 150px !important;
}

.spans {
    font-size: 20px;
}