.titlepage{
    font-family: "nunito_sansextrabold";
    color: #2A2E2E;
    font-size: auto !important;
    font-size: max(36px) !important;
    margin-top: 25px ;
    margin-bottom: 25px;
}
.s_title{
    margin-bottom: 15px !important;
}

.row_chapter{
    margin-bottom: 5px !important;
}

.time_detail{
    text-align: right !important;
    float: right !important;
    opacity: 0.8;
    
}

.cover_updates{
    margin-right: 15px !important;
}

.p_note{
    color: #2A2E2E;
    opacity: 0.4;
}